# User-specific stuff
.env
.idea/**/dictionaries
.idea/**/shelf
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
/.idea/
/dist/
/docs
/notebooks/.ipynb_checkpoints
__pycache__/
/ddcuimap/**/logging.txt
/logging.txt
