# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
/notebooks/.ipynb_checkpoints
/.idea/
.env
/dist/
__pycache__/
/docs
